<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
  <meta name="generator" content="Hugo 0.84.0">
  <title>Dashboard Template · Bootstrap v5.0</title>

  <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/dashboard/">

  <!-- Bootstrap core CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Fontawesome -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet" />

  <!-- Favicons -->
  <meta name="theme-color" content="#7952b3">

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>

  <!-- Custom styles for this template -->
  <link href="<%= base_url %>assets/sidebar.css" rel="stylesheet">
</head>

<body>

  <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="<%= base_url %>">Car Management</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
      data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <input class="form-control form-control-dark w-25 ms-auto m-1" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success mx-2" type="submit">Search</button>
    <div class="navbar-nav">
      <div class="nav-item text-nowrap">
        <a class="nav-link px-3" href="#">Account</a>
      </div>
    </div>
  </header>

  <div class="container-fluid">
    <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="position-sticky pt-3">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#">
                <span data-feather="home" onclick="generateS()"></span>
                Dashboard
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="<%= base_url %>">
                <span data-feather="list"></span>
                List Cars
              </a>
            </li>
          </ul>

        </div>
      </nav>

      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div
          class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h3 class="h3">List Cars</h3>
          <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
              <a href="<%= base_url %>create" type="button" class="btn btn-sm btn-outline-primary">+ Add New Car</a>
            </div>
          </div>
        </div>

        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            <a href="<%= base_url %>" type="button" class="btn btn-sm btn-outline-primary">All</a>
          </div>
          <div class="btn-group me-2">
            <a href="<%= base_url %>filter/small" type="button" class="btn btn-sm btn-outline-primary">Small</a>
          </div>
          <div class="btn-group me-2">
            <a href="<%= base_url %>filter/medium" type="button" class="btn btn-sm btn-outline-primary">Medium</a>
          </div>
          <div class="btn-group me-2">
            <a href="<%= base_url %>filter/large" type="button" class="btn btn-sm btn-outline-primary">Large</a>
          </div>
        </div>

        <br />

        <div class="row row-cols-1 row-cols-md-3 g-4">
          <% for (let i = 0; i < data.length; i++) { %>
          <div class="col-sm-6 col-md-4 rounded">
            <div class="card h-100">
              <img src="../images/<%= data[i].image %>" class="card-img-top img-fluid p-4" width="" alt="...">
              <div class="card-body">
                <p class="card-text"><%= data[i].name %> / <%= data[i].size %></p>
                <p class="card-text fw-bold">Rp <%= data[i].price %> / hari</p>
                <p class="text-muted"><i class="fa-regular fa-clock mx-1"></i><%= data[i].updatedAt %></p>
                <div class="btn-toolbar mb-2 mb-md-0 mx-auto">
                  <div class="btn-group me-2">
                    <button type="button" class="btn btn-sm btn-outline-danger" value="<%= data[i].id %>"
                      onclick="deleteCars('<%= data[i].id %>');"><i class="fa-solid fa-trash mx-1"></i>Delete</button>
                  </div>
                  <div class="btn-group me-2">
                    <a href="<%= base_url %>edit/<%= data[i].id %>" class="btn btn-sm btn-outline-success"><i class="fa-regular fa-pen-to-square mx-1"></i>Edit</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% } %>
        </div>

        <br />

      </main>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

  <script src="<%= base_url %>assets/sidebar.js"></script>

  <script>
    // async function getRandom() {
    //   console.log("mencari");
    //   return "sabrina";
    // }
    // getRandom().then((username) => {
    //   console.log("usernmae ketemu");
    //   console.log("asd",username);
    // }).catch((err) => {
    //   console.log("username gak ketemu");
    // })

    const n = 0;
    async function generateS() {
      if (n < 0) {throw new Error("n must be possitive");}
      const sequence = [];
      for (let i = 1; i<=n; i++) {sequence.push(i);}
      return sequence;
    }
    generateS(n).then(console.log)

    function deleteCars(idCars) {
      var config = {
        method: 'delete',
        url: 'http://localhost:8081/cars/' + idCars,
        headers: {}
      };

      swal({
        title: "Menghapus Data Mobil",
        text: "Setelah dihapus, data tidak dapat dikembalikan. Yakin ingin menghapus?",
        icon: "warning",
        buttons: true,
        dangerMode: true,
      }).then((willDelete) => {
        if (willDelete) {
          axios(config).then(function (response) {

          }).catch(function (error) {
            console.log(error);
          });
          swal("Data berhasil dihapus!", {
            icon: "success",
          }).then(() => {
            window.location.href = "<%= base_url %>";
          });
        } else {
          
        }
      });
    }
  </script>
</body>

</html>