<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
  <meta name="generator" content="Hugo 0.84.0">
  <title>Dashboard Template · Bootstrap v5.0</title>

  <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/dashboard/">

  <!-- Bootstrap core CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Favicons -->
  <meta name="theme-color" content="#7952b3">

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>


  <!-- Custom styles for this template -->
  <link href="<%= base_url %>assets/sidebar.css" rel="stylesheet">
</head>

<body>

  <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="<%= base_url %>">Car Management</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
      data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <input class="form-control form-control-dark w-25 ms-auto m-1" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success mx-2" type="submit">Search</button>
    <div class="navbar-nav">
      <div class="nav-item text-nowrap">
        <a class="nav-link px-3" href="#">Account</a>
      </div>
    </div>
  </header>

  <div class="container-fluid">
    <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="position-sticky pt-3">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#">
                <span data-feather="home"></span>
                Dashboard
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="<%= base_url %>">
                <span data-feather="file"></span>
                List Cars
              </a>
            </li>
          </ul>

        </div>
      </nav>

      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div
          class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h3 class="h3">Add New Car</h3>
        </div>

        <br />

        <!-- Car Form -->
        <div class="row mb-3">
          <label for="name" class="col-sm-2 col-form-label">Nama</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="name" name="name">
          </div>
        </div>
        <div class="row mb-3">
          <label for="price" class="col-sm-2 col-form-label">Sewa Per Hari</label>
          <div class="col-sm-10">
            <input type="number" class="form-control" id="price" name="price">
          </div>
        </div>
        <div class="row mb-3">
          <label for="size" class="col-sm-2 col-form-label">Ukuran</label>
          <div class="col-sm-10">
            <select class="form-select" aria-label="Default select example" id="size" name="size">
              <option selected>Pilih salah satu</option>
              <option value="small">Small</option>
              <option value="medium">Medium</option>
              <option value="large">Large</option>
            </select>
          </div>
        </div>
        <div class="row mb-3">
          <label for="image" class="col-sm-2 form-label">Foto</label>
          <div class="col-sm-10">
            <input type="file" class="form-control" id="image" name="image">
          </div>
        </div>
        <a href="<%= base_url %>" type="button" class="btn btn-sm btn-outline-primary"
          style="width: 5rem; height: 2rem;">Cancel</a>
        <button type="button" class="btn btn-sm btn-primary" onclick="createCars();"
          style="width: 5rem; height: 2rem;">Save</button>
        <!-- End Car Form -->

        <br />

      </main>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

  <script src="<%= base_url %>assets/sidebar.js"></script>

  <script>
    function createCars() {
      var data = new FormData();
      let name = document.getElementById('name').value;
      let price = document.getElementById('price').value;
      let size = document.getElementById('size').value;
      let image = document.querySelector('#image');

      data.append('name', name);
      data.append('price', price);
      data.append('size', size);
      data.append('image', image.files[0]);

      var config = {
        method: 'post',
        url: 'http://localhost:8081/cars',
        headers: {
          'Authorization': 'Bearer binar123'
        },
        data: data
      };

      axios(config).then(function (response) {
        swal({
          title: "Sukses!",
          text: response.data.display_message,
          icon: "success",
          button: "OK!",
        }).then(() => {
          window.location.href = "<%= base_url %>";
        })
      }).catch(function (error) {
        console.log(error);
      });
    }

    // Swal(response.data.display_message).then(() => {

    // })
    // Swal.fire({
    //   icon: 'success',
    //   title: 'success',
    //   text: response.data.display_message,
    // })
    // Swal.fire({
    //   icon: 'error',
    //   title: 'Oops...',
    //   text: error,
    // })

  </script>
</body>

</html>